.about-title{
  padding: 40px 0;
}
.about{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 50px;
  h2{
    color: $primary-orange;
    font-size: 24px;
  }
  .about-details{
    text-align: left;
  }
  img{
    width: 300px;
    margin: 0 auto;
  }
}


@media (max-width:600px) {
  .about-title{
    padding: 10px;
  }
  .about{
    display: block;
    .about-details{
      padding-bottom: 20px;
    }
  }
}