.dashboard-container {
  display: flex;
}

.admin-dashboard-nav{
  width: 30%;

  p{
    border-left: 5px solid transparent;
    padding: 10px;
  }

  .active{
    font-weight: bolder;
    border-left: 5px solid $primary-orange;
  }
}

.dashboard-gallery-card{
  background-color: $light-bg;
  padding: 10px;
  border-radius: 10px;
  margin: 10px auto;
  .gallery-image-preview{
    width: 150px;
    object-fit: cover;
  }

}

.dashboard-side{
  textarea{
    width: 300px;
    height: 200px;
  }
}
