.product-category{
  margin-top: 40px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.title-products{
  padding-top: 50px;
}

.products-presentation{
  margin-bottom: 20px;
}

.commandes-speciales{
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
  p{
    margin-bottom: 40px;
  }
}


@media (max-width:600px){
  .product-category{
    display: block;
  }
  .commandes-speciales{
  width: 90%;
  }

  .title-products{
    padding: 30px;
  }
}