<div class="container show-recipe" data-aos="fade-up">
  <h1><%= @recipe.title %></h1>
  <% if @recipe.image.attached? %>
    <%= cl_image_tag @recipe.image.key, class: 'recipe-image' %>
  <% end %>
  <%= link_to "Retour aux recettes", recipes_path, class: 'button cta'%>


</div>


