<footer>
  <div class="container-footer">
    <h3>Just Fish Poissonnerie</h3>
    <div class = "global-infos">
      <section class="location">
        <p><%= markdown($contact) %></p>
      </section>

      <section class="horaires">
        <p> <%= markdown($horaires) %></p>
      </section>

    </div>
  </div>
</footer>