<footer>
  <div class="container">
    <h3>Just Fish Poissonnerie</h3>
    <div class = "global-infos">
      <section class="location">
        <span>Adresse ligne 1 <br> Adresse Ligne 2 <br> VILLE <br><br> 050505050 <br>Adresse mail</span>
      </section>
      <section class="navigation">
          <li>Selection de la semaine</li>
          <li>Nos produits</li>
          <li>Contact</li>
          <li>Nos recettes</li>
          <li>Qui sommes nous ?</li>
      </section>
      <section class="horaires">
        <span>Ouverts le mardi <br> et le jeudi</span>
      </section>

    </div>
  </div>
</footer>