.button{
  padding: 16px 48px;
  margin: 0 auto;
  border-radius: 20px;
  font-family: $header-font;

}

.cta-strong{
  color: white;
  background-color: $primary-orange;
  &:hover{
    color: white;
  }
}

.cta{
  color: $primary-orange;
  background-color: white;
  border: 1px solid $primary-orange;
  &:hover{
    color: $primary-orange;
  }
}

.small-btn{
  border-bottom: 2px solid black;
  font-weight: bold;
  padding: 5px;
  margin: 0 auto;
}

#how-to-order-button{
  width: 250px;
  margin: 0 auto;
  cursor: pointer
}