.card-product{
display: flex;
  h4{
    color: $secondary-blue;
    cursor: pointer;
    margin: 10px 0 0 0;
  }
  .product-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  img{
    object-fit: cover;
    width: 100px;
    height: 150px;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;

  }
}
.price-tag{
  background-color: $light-bg;
  padding: 4px 8px;
  margin: 0 auto;
  border-radius: 5px;
  max-width: 60px;
}

.show-product{
  display: flex;
  border-radius: 10px;
  z-index: 11;
  position: absolute;
  background-color: white;
  padding: 30px;
  width: 80%;
  height: auto;
  max-height: 70vh;
  margin: 0 auto;
  top:180px;
  left: calc(100vw - 90%);
  align-items: center;

  
  .show-product-img{
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto;
  }
  .show-product-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    //position: relative;
    overflow: scroll;
    max-width: 600px;
    margin: 0 auto;
  }
  .packaging-details{
    text-align: center;
    font-weight: bold;
  }
}

.card-product-category{
  width: 250px;
  background-color: $light-bg;
  padding: 10px;
  margin: 20px auto;
  border-radius: 10px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
  }
  div{
    //width: 100%;
    margin: 0 auto;
  }
  p{
    padding-bottom: 20px;
  }
  .detail-order{
    background-color: rgba($secondary-blue, 0.5);
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 5px;
    margin: 0 auto;
    width: 40%;
  }

}

@media (max-width:600px) {
  .card-product{
    margin: 20px auto;

  }
  .show-product{
    padding: 15px;
    width: 80%;
    height: 70vh;
    top: 110px;
    left: calc(100vw - 95%);
    display: block;
    .show-product-img{
      width: 200px;
      height: 200px;
      margin-bottom: 15px;

    }
    .show-product-description{
      display: block;
      //padding-top: 150px;
      width: 70vw;
      height: calc(70vh - 240px);
      overflow-y: auto;

    }




  }

}
