 // Graphical variables
@import "config/fonts";
@import "config/colors";

// External libraries
@import "font-awesome-sprockets";
@import "font-awesome";

//  CSS partials
@import "components/index";
@import "pages/index";


body{
  margin: 100px 0 0 0;
  font-family: $body-font;
  h1, h2, h3{
    font-family: $header-font;
  }
  h1{
    color: $secondary-blue;
  }
  .container{
    margin: 56px auto;
    text-align: center;
    max-width: 1000px;
  }
  strong{
    color: $primary-orange;
  }
}


a{
  text-decoration: none;
  color:inherit;
  &:hover{
    text-decoration: none;
    color:inherit;
    cursor: pointer;
  }
}

li{
  list-style-type: none;
}


@media (max-width:600px) {
.container{
  padding: 20px;
  margin: 0 auto;
}

}

